[submodule "tests/unit_test_frameworks/fff"]
	path = tests/unit_test_frameworks/fff
	url = https://github.com/meekrosoft/fff.git
[submodule "tests/unit_test_frameworks/unity"]
	path = tests/unit_test_frameworks/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
